loggerd
Makefile.in
aclocal.m4
autom4te.cache/
build-*
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing/autom4te.cache
autoscan.log
autoscan-*.log
configure.scan
depcomp
install-sh
missing
stamp-h1
Makefile
config.h
config.log
config.status
