@font-face {
    font-family: 'BuxtonSketch';
    src: url('fonts/BuxtonSketch.ttf');
}

@font-face {
    font-family: 'segoeui';
    src: url('fonts/segoeui.ttf');
}

body, header, article, canvas, form, table, footer {
    margin:10px;
    padding:10px;
    text-align:center;
    /*border-style:solid;
    border-width:1px;*/
    background-color:#179CFF;
    font-family:segoeui;
}

header {
    font-family:BuxtonSketch;
    text-align:left;
    font-size:4em;
}
a.a_header {
    color:black;
    text-decoration: none;
}

a.a_header:hover {
    color:grey;
}

img {
    vertical-align:middle;
}

article {
    width:50%;
    margin:auto;
    border-style:solid;
    border-radius:20px;
}

table {
    margin:auto;
    border-collapse:collapse;
    /*background-color: f0f0f2;*/
}

th,
td {
  border: 1px solid #cecfd5;
  width:40%;
}




canvas {
    width:70%;
    height:70%;
}

/*footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    margin: auto;
    font-size:3em;
}*/
